.services {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: minmax(320px, 1fr) 1.2fr;
  align-items: start;
  gap: 3rem;
  margin: 6rem auto 10rem;
  max-width: 1200px;
}

.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.75rem;
}

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

.awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}

.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 280px));
  justify-content: center;
  justify-items: center;
  align-items: stretch;
  gap: 2.75rem 2.75rem;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

.s-blur2 {
  left: 3rem;
  top: -18rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}

@media screen and (max-width: 480px){
  .services{
    margin-top: 0;
    flex-direction: column;
    gap:3rem;
    height: auto;
    padding: 0 1.5rem;
  }
  .cards{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
