.works{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top:4rem;

}

.w-right {
    position: relative;

}

.w-mainCircle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius:100%;
    box-shadow: var(--boxShadow);
    top:2rem;
    background: white;
}

.w-mainCircle>*{
    position: absolute;
}

.w-mainCircle {
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--boxShadow);
    top: 2rem;
    background: white;
}

/* common positioning */
.w-mainCircle > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
}

/* center logo (child 3) */
.w-mainCircle > :nth-child(3) {
    transform: translate(-50%, -50%);
}

:root {
    --radius: 9rem;
}

/* common base */
.w-mainCircle > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
}

/* center logo (icipe – child 3) */
.w-mainCircle > :nth-child(3) {
    transform: translate(-50%, -50%);
}

/* outer logos — evenly spaced & upright */
.w-mainCircle > :nth-child(1) {
    transform:
        translate(-50%, -50%)
        rotate(0deg)
        translateY(calc(-1 * var(--radius)))
        rotate(0deg);
}

.w-mainCircle > :nth-child(2) {
    transform:
        translate(-50%, -50%)
        rotate(72deg)
        translateY(calc(-1 * var(--radius)))
        rotate(-72deg);
}

.w-mainCircle > :nth-child(4) {
    transform:
        translate(-50%, -50%)
        rotate(144deg)
        translateY(calc(-1 * var(--radius)))
        rotate(-144deg);
}

.w-mainCircle > :nth-child(5) {
    transform:
        translate(-50%, -50%)
        rotate(216deg)
        translateY(calc(-1 * var(--radius)))
        rotate(-216deg);
}

.w-mainCircle > :nth-child(6) {
    transform:
        translate(-50%, -50%)
        rotate(288deg)
        translateY(calc(-1 * var(--radius)))
        rotate(-288deg);
}


.w-secCircle{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    position: absolute;
    border: 5px solid #ebebeb;
    display:flex;
    justify-content:center;
    align-items: center;
    background:"none";
    box-shadow: var(--smboxShadow);
    background:white;
}

.w-secCircle> img {
    transform: scale(0.4);
}

.w-backCircle{
    position: absolute;
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
    z-index: -1;

}

.blueCircle{
    background: #194988;
    left: 18rem;
    top: 0rem;
}

.yellowCircle{
    background: #F5C32C;
    left: 18rem;
    top: 8rem;
}

@media screen  and (max-width: 480px){
    .works{
        flex-direction: column;
        height: 55rem;
        padding: 0;
        gap: 5rem;
    }

    .w-right{
        display: flex;
        align-items: flex-start;
        justify-content:start;
        transform: scale(0.7);

    }
    .w-mainCircle{
        position:static;

    }
    .w-backCircle{
        left: 8rem !important;
    }
}
  
  